<main>
    <section>
        <app-menu-header></app-menu-header>
        <div>
            <h2><img src="assets/icons/back-orange.png">Go Back</h2>
        </div>
        <article>
            <h1>Project Title<img src="assets/icons/text-decoration/short-blueLine.png" alt="Underline Title"></h1>

            <div>
                <h2>Description</h2>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                    assign users and categories. </p>
            </div>
            <div>
                <h2>Implementation Details</h2>
                <p>Short text that describes your role or the workflow for this specific project. Let a recruiter know
                    more
                    about your knowledge and ability to work independently or collaboratively in a structured way.</p>
            </div>

            <div>
                <h2>Duration:<p>5 weeks</p></h2>
                <div></div>
            </div>
        </article>
        <article>
            <div>
                <img src="assets/images/DABubble.svg" alt="Project Image">
            </div>
            <div>
                <app-to-form-btn btnName="GitHub"></app-to-form-btn>
                <app-to-form-btn btnName="Live Test"></app-to-form-btn>
            </div>
            <div><span>Next Project<img></span></div>
        </article>
    </section>
</main>