@use '../../../styles.scss' as *;

section {
    background-color: $color-white-primary;
    width: 100%;
    min-height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-me-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    position: relative;
}

article {
    width: 50%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .buner-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        .paper-img {
            height: 152px;
            width: 560px;
        }

        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: $color-white-primary;
            position: absolute;
        }
    }
}

.yellow-paper {
    z-index: 3;
    top: 0px;

    h2 {
        top: 30%;
        transform: rotate(-5deg);
    }
}

.blue-paper {
    z-index: 2;
    top: 95px;

    h2 {
        top: 30%;
    }
}

.orange-paper {
    z-index: 1;
    top: 195px;

    h2 {
        top: 30%;
        transform: rotate(5deg);
    }
}

.about-me-text-container {
    display: flex;
    flex-direction: column;
    width: 50%;

    h1 {
        font-size: 64px;
        font-weight: 700;
        font-style: Bold;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        .text-decoration {
            width: 280px;
            height: 20px;
            transform: scale(1);
            animation: scaleAnimation 5s ease-in-out infinite;
        }
    }

    span {
        font-size: 20px;
        font-weight: 500;
        width: 560px;

        .btn-container {
            margin-top: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}