<section>
    <div class="about-me-container">
        <article>
            <div class="buner-container yellow-paper"><img class="paper-img"
                    src="assets/images/ripped-paper/ripped-paper-yellow.png" alt="Ripped Paper Yellow">
                <h2><img src="assets/icons/location-icons.png" alt="Location Icon">Based in Tirol</h2>
            </div>

            <div class="buner-container blue-paper"><img class="paper-img"
                    src="assets/images/ripped-paper/ripped-paper-blue.png" alt="Ripped Paper Blue">
                <h2><img src="assets/icons/a-to-b-icon.png" alt="A to B Icon">Open to commuting</h2>
            </div>

            <div class="buner-container orange-paper"><img class="paper-img"
                    src="assets/images/ripped-paper/ripped-paper-orange.png" alt="Ripped Paper Orange">
                <h2><img src="assets/icons/home-icon.png" alt="Home Icon">Open to work remote</h2>
            </div>
        </article>
        <div class="about-me-text-container">
            <span>WHO'S RICCARDO?</span>
            <h1>About me<img class="text-decoration" src="assets/icons/text-decoration/blue-line.png" alt="Blue Line Decoration"></h1>
            <span>Hey there, I'm Riccardo. Write some information about yourself that is IT related. Why are you passionate
                about coding? What is your source of inspiration for improving your programming skills? Do you learn
                from each challenge as you search for the most efficient or elegant solution?
                <br>
                <br>
                Let’s collaborate and build something remarkable together!
                <div class="btn-container"><app-to-form-btn btnName="Let's talk" color="black"></app-to-form-btn></div>
            </span>
            
        </div>
    </div>
</section>