<section>
    <app-menu-header class="menu-header max-width"></app-menu-header>
    <article class="max-width">
        <div class="landing-content-wrapper">

            <div class="landing-content">
                <div class="hello-world" [class.was-hovered]="wasHovered" (mouseenter)="changeHW()" (mouseleave)="resetHW()">
                    <p>{{helloWorld()}}</p><img src="assets/icons/waving_hand.png">
                </div>
                <div class="poll-container">
                    <h1>Frontend</h1>
                    <div class="pol-img"></div>
                </div>
            </div>

            <div class="landing-content secent-title-section">
                <h1>Developer</h1>
                <div class="get-in-touch-container"><app-to-form-btn></app-to-form-btn></div>
            </div>

        </div>

        <div class="social-icons">
            <p><img src="assets/icons/git-icon.png"></p>
            <p><img src="assets/icons/mail-icon.png"></p>
        </div>
    </article>
</section>