@use '../../../styles.scss' as *;

section {
    background-image: url('/assets/backgrounds/background-landing.png');
    background-size: 100% 98vh;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 1000px;
    width: 100%;
    background-color: $color-white-primary;
    color: $color-white-primary;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;

    .menu-header {
        width: 100%;
    }
}

article {
    box-sizing: border-box;
    position: relative;
    flex: 1;
    height: auto;
    max-height: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .social-icons {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8px;
        top: 600px;
        left: 20px;

        p {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 40px;

            border-radius: 50%;
            border: 1px solid $color-white-primary;

            background-image: linear-gradient($font-blue,
                    $font-blue );

            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100% 0%;

            &:hover {
                animation: backgroundMove 0.4s ease forwards;
            }
        }
    }

    @keyframes backgroundMove {
        from {
            background-size: 100% 0%;
        }

        to {
            background-size: 100% 100%;
        }
    }
}

.landing-content {
    h1 {
        font-size: 120px;
    }

    .hello-world {
        width: fit-content;
        position: relative;
        bottom: 30px;
        cursor: pointer;
        border: 1px solid $color-white-primary;
        border-radius: 30px;
        padding: 10px 20px;

        transition: padding 0.3s ease;

        img {
            position: absolute;
            z-index: -1;
            top: -37px;
        }

        p {
            position: relative;
            z-index: 2;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;

            background-color: $font-blue;
            border-radius: 30px;
            transform: scaleX(0);
            transform-origin: center;

            transition: transform 0.5s ease-in-out;
            z-index: 1;
        }

        &:hover {
            &:before {
                transform: scaleX(1);
            }


            img {
                z-index: 1;
                animation: rotateLeft 0.8s ease-in-out forwards;
            }
        }

        &.was-hovered:not(:hover) {
            img {
                z-index: 1;
                animation: rotateRight 0.8s ease-in-out forwards;
            }
        }
    }

    .poll-container {
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;

        .pol-img {
            position: absolute;
            right: 0px;
            bottom: 0;
            width: 200px;
            height: 250px;
            background-color: $color-white-primary;
            transform: rotate(10deg);
        }

    }

    .get-in-touch-container {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

}

.secent-title-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.landing-content-wrapper {
    width: 50%;
}

.dnone {
    display: none;
}

.hover-title {
    cursor: pointer;

    span {
        transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

        &:hover {
            color: $font-hover;
            text-transform: uppercase;
            transform: scale(1.1);
        }
    }

    .fisrtletter {
        &:hover {
            color: $font-hover;
            text-transform: lowercase;
            transform: scale(0.9);
        }
    }
}

.hover-title-bottom {
    cursor: pointer;

    span {
        transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

        &:hover {
            color: $font-hover;
            text-transform: lowercase;
            transform: scale(0.9);
        }
    }
}