<section>
    <header>
        <h2>RS</h2>
        <div class="nav-links">
            <a>About me</a>
            <a>Skills</a>
            <a>Projects</a>
            <a>Contact</a>
        </div>
        <div class="language-switcher">
            <p>EN</p><img src="assets/icons/slider/slider-on.png">
            <p>DE</p>
        </div>
    </header>

    <article>
        <div class="landing-content">
            <span>Hello World</span>
            <h1>Frontend Developer</h1>
            <a><span>Get in Touch</span></a>
        </div>
        <div class="social-icons">
            <p><img src="assets/icons/git-icon.png"></p>
            <p><img src="assets/icons/mail-icon.png"></p>
        </div>
    </article>
</section>