<section>
    <article class="max-width">
        <div class="title-container ">
            <h2>My CRAFT</h2>
            <div class="h1-container">
                <h1>Projects<img src="assets/icons/text-decoration/decoration-wave.png"></h1>
            </div>
            <p>Encourage people to take a look and interact with your projects.
                Highlight your approach to creating responsive, user-friendly projects with efficient code.</p>
        </div>
        <div class="first-project-area">
            <div class="first-project-container">
                <div class="image-container">
                    <div class="pc-image-warp">
                        <img class="pc-image" src="assets/images/laptop.png">
                        <app-to-form-btn btnName="Project details"></app-to-form-btn>
                    </div>
                    <img class="details-icon" src="assets/images/check-ditails.png">
                </div>
                <div>
                    <h2>join</h2>
                    <p>{{projekts[0].description}} || 'no description available'</p>
                </div>
            </div>
        </div>
    </article>
    <article class="max-width">
        <app-projekts style="width: 100%;"></app-projekts>
    </article>
</section>