@use '../../../styles.scss' as *;

section {
    background-color: $color-white-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 100px;
}

article {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 530px;
    width: 100%;


    p {
        width: 70%;
        font-size: 18px;
        font-weight: 400;
        font-style: Regular;
    }
}

.title-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    row-gap: 10px;

    h2 {
        font-size: 20px;
        font-weight: 500;
        font-style: Medium;
    }

    .h1-container {
        position: relative;

        h1 {
            position: relative;

            font-size: 64px;
            font-weight: 700;
            font-style: Bold;

            img {
                position: absolute;
                left: -40px;
                bottom: -70px;
                animation: disepier-left 5s infinite;
            }
        }

        @keyframes disepier-left {
            0% {
                clip-path: inset(0 100% 0 0);
            }

            50% {
                clip-path: inset(0 0 0 0);
            }

            100% {
                clip-path: inset(0 0 0 0);
            }
        }

    }

    p {
        margin-top: 50px;
    }
}

.first-project-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .image-container {
        position: relative;
        width: 560px;
        height: 337px;
        border-radius: 30px;
        cursor: pointer;
        

        .details-icon {
            width: 168px;
            height: 168px;
            position: absolute;
            left: 20px;
            bottom: 50px;
        }

        .pc-image-warp {
            animation: up-down 5s infinite;

            .pc-image {
                width: 560px;
                transition: transform 0.3s ease;
            }
        }

        &:hover {
            box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.25);

            background: linear-gradient(to top,
                    rgba(0, 0, 0, 0.673) 0%,
                    rgba(0, 0, 0, 0.1) 25%,
                    transparent 50%);

            .pc-image-warp {
                animation-play-state: paused;
            }

            .pc-image {
                transform: scale(1.1);
            }
        }

        @keyframes up-down {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
        font-style: Medium;
        margin-bottom: 20px;
    }
}