@use '../../../styles.scss' as *;

.form-section {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 900px;

    color: $color-white-primary;


    &::before {
        content: "";
        position: absolute;
        inset: 0;

        background-image: url('/assets/backgrounds/background-form.png');
        background-size: 100% 900px;
        background-repeat: no-repeat;
        background-position: center;

        transform: rotate(180deg);
        z-index: -1;
        background-color: $color-white-primary;
    }

    .form-article {
        display: flex;
        flex-direction: column;
        max-height: 560px;
        height: max-content;

        padding-left: 20px;
        padding-right: 20px;
    }

    .form-container {
        display: flex;
        justify-content: space-between;
    }
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    width: 40%;
    margin-bottom: 55px;

    h2 {
        font-size: 20px;
        font-weight: 500;
        font-style: Medium;
    }

    h1 {
        font-size: 64px;
        font-weight: 700;
        font-style: Bold;
        width: 80%;
    }

    p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        font-style: regular;
    }

    .image-container {
        width: 100%;
        display: flex;
        justify-content: Flex-end;
        align-items: center;
        animation: scaleAnimation 5s ease-in-out infinite;
    }
}

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 40%;

    .form-inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
        justify-content: flex-end;

        .form-input {
            width: 100%;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            &:hover {
                label {
                    color: $btn-hover;
                }
            }
        }
    }

    .name-tag {
        width: 168px;
        height: 166px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .btn-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
    }
}

.privacy-policy {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;

    font-size: 15px;
    font-weight: 400;
    font-style: regular;

    margin-top: 20px;

    .check-boxs {
        border: 2px solid #797EF3;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #797df38a;
        }
    }

    a {
        color: $font-blue;

        &:hover {
            color: $font-hover;
        }
    }
}

.border {
    width: 100%;
    height: 1px;
    background-color: $font-hover;
}

.active-input {
    background-color: $font-blue;
}

input {
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: $color-white-primary;
    font-size: 18px;
    font-weight: 400;
    font-style: regular;

    &::placeholder {
        color: $color-white-primary;
        font-size: 18px;
        font-weight: 400;
        font-style: regular;
    }
}

label {
    color: $color-white-primary;
    font-size: 24px;
    font-weight: 500;
    font-style: medium;
}

.dnone {
    display: none;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

@keyframes scaleAnimation {
        0% {
            clip-path: inset(0 100% 0 0);
        }

        10% {
            clip-path: inset(0 0 0 0);
        }

        70% {
            clip-path: inset(0 0 0 0);
        }

        80% {
            clip-path: inset(0 100% 0 0);
        }

        100% {
            clip-path: inset(0 100% 0 0);
        }
    }