<div class="footer-header">
    <h1>RS</h1>
    <h2>© Riccardo Schöpf</h2>
</div>
<article class="footer-links" >
    <div class="footer-link legal-notice" routerLink="/legal-notice">
        <a>Legal Notice</a>
        <img src="assets/icons/text-decoration/decoration-dopple-line.png">
    </div>
    <div class="footer-link social-links" [class.was-hovered]="githubHovered" (mouseenter)="githubHovered = true">
        <a href="https://github.com/ricci27aut">GitHub</a>
        <img src="assets/icons/git-icon.png">
    </div>
    <div class="footer-link social-links" [class.was-hovered]="emailHovered" (mouseenter)="emailHovered = true">
        <a href="mailto:rischoepf38@gmail.com">Email</a>
        <img src="assets/icons/mail-icon.png">
    </div>
</article>